# Build output
/build
app/build
.gradle

# Sensitive files
local.properties
app/google-services.json

# IDE files
.idea
*.iml
.DS_Store
Thumbs.db

# Generated
app/src/main/java/com/example/temiguide/BuildConfig.java
